<div class="hospital-landing">
  <!-- Texto informativo -->
  <div class="left-info">
    <h1>Bienvenido al Sistema Hospitalario De Guayaquil</h1>
    <p>
      Administre consultas, pacientes, desde una
      única plataforma distribuida y eficiente.
    </p>
    <button (click)="irAGestion()" class="action-btn">Ir a Gestión</button>
  </div>

  <!-- Imagen hospitalaria -->
  <div class="right-image">
    <img src="../../../../assets/image/hospital-central.jpg.jpg" alt="Hospital Central" />
  </div>
</div>
