<h2>{{ editMode ? "Editar" : "Crear" }} Hospital</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" type="text" formControlName="nombre" />
  </div>

  <div>
    <label for="direccion">Dirección:</label>
    <input id="direccion" type="text" formControlName="direccion" />
  </div>

  <div>
    <label for="urlApi">URL de la API:</label>
    <input id="urlApi" type="text" formControlName="urlApi" />
  </div>

  <button type="submit">{{ editMode ? "Actualizar" : "Crear" }}</button>
</form>
