<div class="hospital-landing">
  <div class="left-info">
    <h1>
      Bienvenido al
      <span class="highlight">Sistema Hospitalario de Latacunga</span>
    </h1>
    <p class="subtitle">
      Administre <strong>consultas</strong>, <strong>pacientes</strong> y mucho
      más desde una única plataforma <strong>distribuida</strong> y
      <strong>eficiente</strong>.
    </p>
    <button (click)="irAGestion()" class="action-btn">Ir a Gestión</button>
  </div>

  <div class="right-image">
    <img
      src="../../../../assets/image/hospital-central.jpg.jpg"
      alt="Hospital Cuenca"
    />
  </div>
</div>
